.form-wrapper
  = simple_form_for @form, url: list_path do |f|
    .intro
      %h1 Fyber Coding Challenge
      %p By Kristian Hildebrandt

    .flex-boxes
      .flex-box.flex-box-big
        = f.input :uid
        = f.input :page
        = f.input :pub0

        = f.button :submit, 'Search Offers'
